In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('rbp-ALS')
df = df.sort_values(by=['difference'], ascending=False)
df

        item  weight_vector     weight    difference
1189     318   2.190951e+04  1667.4125  20242.093819
1188     858   1.539613e+04   867.2250  14528.909078
1187  113315   9.277476e+03     0.3875   9277.088291
1186      50   6.153793e+03   994.3250   5159.467629
1185     527   5.899347e+03  1149.3250   4750.022402
...      ...            ...        ...           ...
4        110   6.673391e+00  1220.6250  -1213.951609
3        457   1.124113e-08  1215.9750  -1215.975000
2        480   8.271806e-25  1345.7875  -1345.787500
1        593   2.819079e+01  1536.0500  -1507.859212
0        356   1.098737e+01  1618.5875  -1607.600134

[1190 rows x 4 columns]

In [3]:
df = pd.read_csv('rbp-Bias')
df = df.sort_values(by=['difference'], ascending=False)
df

     item  weight_vector     weight    difference
475   318   7.943000e+04  1667.4125  77762.587500
474   858   6.705200e+04   867.2250  66184.775000
473    50   3.671450e+04   994.3250  35720.175000
472   527   2.337725e+04  1149.3250  22227.925000
471  1221   2.083331e+04   501.8125  20331.500000
..    ...            ...        ...           ...
4     260   8.774705e-01  1172.1875  -1171.310030
3     110   4.444190e-16  1220.6250  -1220.625000
2     593   8.521373e-02  1536.0500  -1535.964786
1     356   5.464231e-20  1618.5875  -1618.587500
0     296   4.200101e-02  1668.9625  -1668.920499

[476 rows x 4 columns]

In [4]:
df = pd.read_csv('rbp-IALS')
df = df.sort_values(by=['difference'], ascending=False)
df

      item  weight_vector     weight   difference
7345   318    3308.592906  1667.4125  1641.180406
7344     1    2366.311130  1122.5875  1243.723630
7343   858    2053.161148   867.2250  1185.936148
7342   260    1957.634294  1172.1875   785.446794
7341    32    1783.723960  1007.1125   776.611460
...    ...            ...        ...          ...
4      587     209.694275   554.9000  -345.205725
3      589     747.227308  1102.4375  -355.210192
2      367     249.692656   621.1625  -371.469844
1      500     292.976085   670.7625  -377.786415
0      364     393.926465   788.9500  -395.023535

[7346 rows x 4 columns]

In [5]:
df = pd.read_csv('rbp-IIE')
df = df.sort_values(by=['difference'], ascending=False)
df

        item  weight_vector     weight   difference
9931  117310   9.281784e+03     0.3875  9281.396226
9930  129739   8.874913e+03     0.3875  8874.525721
9929  101855   2.401604e+03     0.3875  2401.216626
9928    3226   1.763275e+03     0.7750  1762.500138
9927   25987   6.666314e+02     0.3875   666.243876
...      ...            ...        ...          ...
4        480   1.455192e-11  1345.7875 -1345.787500
3        593   3.985469e-01  1536.0500 -1535.651453
2        356   3.176052e-02  1618.5875 -1618.555739
1        318   9.373651e+00  1667.4125 -1658.038849
0        296   1.305792e-01  1668.9625 -1668.831921

[9932 rows x 4 columns]

In [6]:
df = pd.read_csv('rbp-III')
df = df.sort_values(by=['difference'], ascending=False)
df

      item  weight_vector     weight    difference
3558  2571   19865.030331   981.5375  18883.492831
3557  1196   16756.567714   765.3125  15991.255214
3556  1270   16171.905462   625.4250  15546.480462
3555  1198   14302.060665   742.4500  13559.610665
3554   480   14346.488314  1345.7875  13000.700814
...    ...            ...        ...           ...
4      231     105.193691   731.9875   -626.793809
3      329      94.651273   731.9875   -637.336227
2      595     179.779857   822.2750   -642.495143
1       34       5.105396   678.1250   -673.019604
0      527     102.794551  1149.3250  -1046.530449

[3559 rows x 4 columns]

In [7]:
df = pd.read_csv('rbp-Pop')
df = df.sort_values(by=['difference'], ascending=False)
df

      item  weight_vector     weight    difference
1408   296   75490.000000  1668.9625  73821.037500
1407   356   48849.000000  1618.5875  47230.412500
1406   318   30050.625000  1667.4125  28383.212500
1405   593   26452.875000  1536.0500  24916.825000
1404   260   17788.593750  1172.1875  16616.406250
...    ...            ...        ...           ...
4      231      49.850930   731.9875   -682.136570
3      316      97.424173   794.7625   -697.338327
2      349      83.779648   799.4125   -715.632852
1      165     156.106919   876.1375   -720.030581
0      153      92.283595   883.1125   -790.828905

[1409 rows x 4 columns]